@import 'color_variables';
@import 'book';
@import 'layout';


body {
  font-family: arial;
  font-size: 14px;
  margin: 0px auto;
  padding: 0px;
  background: rgb(207, 206, 206);
}
header{
  .navbar{
    padding: 0px;
  }
  li{
    padding: 15px;
    margin: 0px auto;
    font-size: 15px;
    text-transform: uppercase;
    a{
      color: $black-font;
    }
  }
  margin-bottom: 70px;
}
footer{
  p{
    text-align: center;
    color: $black-font;
  }
}
